* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins";
    font-size: 14px;
    background: linear-gradient(90deg, #323232 50%, #282828 50%);
}

.navbar {
    height: 2.8em;
}

.box-register {
    margin-top: -5em;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.45), 20px 20px #ecb365;
    background-color: #041c32;
}

.title-register {
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
}

.nama,
.uang-sangu,
.usia,
.submit {
    font-size: 1em;
}

.form-control:focus {
    box-shadow: inset 0 0 2px 2px #041c32, 0 0 2px 3px#ecb365;
}

.submit {
    border: 1px solid #282828;
    background-color: #ecb365;
    transition: 0.15s;
}

.submit:hover {
    transform: scale(1.05);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.6);
}

.submit:active {
    background-color: goldenrod;
}


